// Mixins Here

// Border styling 
.border-styling {
    border-bottom: solid 2px @sea-shell;
}

.nav-links-styling {
    text-decoration: none;
    color: @ebony-clay;
    font-size: 1.6rem;
    margin: 0 1.7rem;
}




// parametric mixin for button styling - uses three parameters
.btn-mixin(@bgcolor;
@color;

@font-size) {
    background-color: @bgcolor;
    color: @color;
    font-size: @font-size;
}